{% extends "base.html" %}

{% block title %}Star Trek: Picard Curator{% endblock %}

{% block head_extra %}
<script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
{% endblock %}

{% block content %}
<div class="bg-slate-950 text-slate-200 min-h-[calc(100vh-64px)]">
  <div id="root"></div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/babel" src="{{ url_for('picard.static', filename='picard.jsx') }}"></script>
{% endblock %}